#rosado{
    background-color: #fc809b;
}
#rojo{
background-color: #ff0000;
}
#verde{
background-color: #02eb29;
}
#negro{
    background-color: #414040;
}
#cafe{
    background-color: #a18262;
}
#morado{
    background-color: #ae00ff;
}
#cian{
    background-color: #02ebeb;
}
#magenta{
    background-color: #FF00FF;
}
#beige{
    background-color: #e6dcbe;
}
#azul{
    background-color: #022deb;
}
#naranja{
    background-color: #f17705;
}
#gris{
    background-color: #807f7e;
}
#blanco{
    background-color: #e6dddd;
}
#vinotinto{
    background-color: #57010c;
}
#salmon{
    background-color: #f5bed9;
}
#menta{
    background-color: #c4eeee;
}