.container{
    display: grid;
    /*las columnas que tienen nuestro grid*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 200px 40px;
}
.item1
{/* iria de la primera a la cuarta columna*/
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
}
.item2{
    /* iria de la primera a la cuarta columna*/
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: red;
}